<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <title>물류 배차 지원 시스템 V1</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/dispatch.css') }}">

</head>

<body>

    <nav class="main-menu">

        <div class="menu-group">
            <div class="menu-title">100 기초코드관리</div>
            <a href="/customer_110">110 고객사</a>
            <a href="/delivery_customer_120">120 거래처</a>
            <a href="/delivery_customer_120/virtual">121 가상 거래처 생성</a>
            <a href="/product_130">130 제품</a>
            <a href="/vehicle_driver_140">140 차량/기사</a>
            <a href="/rule_150">150 업무규칙관리</a>
            <a href="/upload_rule_151">151 업로드 자동변환 규칙</a>
            <a href="/upload_merge_rule_152">152 납품처 합치기 규칙</a>
        </div>

        <div class="menu-group">
            <div class="menu-title">200 배차관리</div>
            <a href="/dispatch_210">210 업로드 관리</a>
            <a href="/dispatch_upload_211">211 대상 업로드</a>
            <a href="/dispatch_upload_212">212 하회 업로드</a>
            <a href="/dispatch_220">220 배차 사전작업</a>
            <a href="/dispatch_221">221 보관관리</a>
            <a href="/dispatch_230">230 배차조정</a>
            <a href="/dispatch_240">240 배차현황</a>
        </div>

        <div class="menu-group">
            <div class="menu-title">300 출력관리</div>
            <a href="/route_daily_310">310 ROUTE일보</a>
            <a href="/invoice_320">320 거래명세서</a>
            <a href="/loading_list_330">330 상차리스트</a>
            <a href="/loading_summary_340">340 상차리스트(총합)</a>
            <a href="/picking_list_350">350 피킹리스트</a>
            <a href="/pick_group_boxes_360">360 피킹그룹</a>
        </div>
        <div class="menu-group">
            <div class="menu-title">900 시스템관리</div>
            <a href="/sql_query_910">910 SQL 조회</a>
            <a href="/local_sql_911">911 Local SQL 조회</a>
            <a href="/db_sync_920">920 DB 동기화</a>
        </div>

    </nav>
    <div class="container-fluid">
        {% block content %}
        {% endblock %}
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
</body>

</html>